<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Payhub_Payment>
            <version>1.0.1</version>
        </Payhub_Payment>
    </modules>

    <global>
        <models>
            <payhub>
                <class>Payhub_Payment_Model</class>
                <resourceModel>payhub_mysql4</resourceModel>
            </payhub>
        </models>
        <helpers>
            <payhub>
                <class>Payhub_Payment_Helper</class>
            </payhub>
        </helpers>
        <resources>
            <payhub_setup>
                <setup>
                    <module>Payhub_Payment</module>
                    <class>Payhub_Payment_Model_Mysql4_Setup</class>
                 </setup>
            </payhub_setup>
        </resources>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <payhub translate="title" module="payhub">
                                            <title>Payment Settings</title>
                                        </payhub>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <payment>
            <payhub>
                <active>0</active>
                <logging>1</logging>
                <api_url>https://dc1-api.payhub.com</api_url>
                <currency>USD</currency>
                <title>Credit Cart (Payhub)</title>
                <cctypes>VI,MC,AE,DI</cctypes>
                <model>payhub/method_payhub</model>
                <order_status>processing</order_status>
                <payment_action>authorize_capture</payment_action>
                <allowspecific>1</allowspecific>
                <specificcountry>US</specificcountry>
            </payhub>
        </payment>
    </default>
</config>
